@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("HeadViewComponentPartial")

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    @await Component.InvokeAsync("NavbarViewComponentPartial")
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    @await Component.InvokeAsync("ModalSearchViewComponentPartial")
    <!-- Modal Search End -->

    <!-- Hero Start -->
    @await Component.InvokeAsync("HeroViewComponentPartial")
    <!-- Hero End -->

    <!-- Featurs Section Start -->
    @await Component.InvokeAsync("FeatursSectionViewComponentPartial")
    <!-- Featurs Section End -->

    <!-- Fruits Shop Start-->
    @await Component.InvokeAsync("FruitsShopViewComponentPartial")
    <!-- Fruits Shop End-->

    <!-- Featurs Start -->
    @await Component.InvokeAsync("FeatursViewComponentPartial")
    <!-- Featurs End -->

    <!-- Vesitable Shop Start-->
    @await Component.InvokeAsync("VesitableShopViewComponentPartial")
    <!-- Vesitable Shop End -->

    <!-- Banner Section Start-->
    @await Component.InvokeAsync("BannerSectionViewComponentPartial")
    <!-- Banner Section End -->

    <!-- BestSeller Product Start -->
    @await Component.InvokeAsync("BestSellerProductViewComponentPartial")
    <!-- BestSeller Product End -->

    <!-- Fact Start -->
    @await Component.InvokeAsync("FactViewComponentPartial")
    <!-- Fact Start -->

    <!-- Tastimonial Start -->
    @await Component.InvokeAsync("TestimonialViewComponentPartial")
    <!-- Tastimonial End -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("FooterViewComponentPartial")
    <!-- Footer End -->

    <!-- Copyright Start -->
    @await Component.InvokeAsync("CopyrightViewComponentPartial")
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    @await Component.InvokeAsync("JavaScriptLibrariesViewComponentPartial")

</body>

</html>
