@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Index</h1>

<!DOCTYPE html>
<html lang="en">

<body>


    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Log In or Register</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active text-white">Log In or Register</li>
        </ol>
    </div>
    <!-- Single Page Header End -->
    <!-- Contact Start -->
    <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="text-center mx-auto" style="max-width: 700px;">
                            <h3 class="text-primary">Get In Touch</h3>                          
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-6">
                            <div class="text-center mx-auto" style="max-width: 700px;">
                                <h5 class="text-primary">Log in touch</h5>
                            </div>
                        </div>
                        <form action="" class="">
                            <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="user name">
                            <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Password">
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-6">
                            <div class="text-center mx-auto" style="max-width: 700px;">
                                <h5 class="text-primary">Register in touch</h5>
                            </div>
                        </div>
                        <form action="" class="">
                            <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="first name">
                            <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="last name">
                            <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="email">
                            <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="user name">
                            <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Password">
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</body>

</html>